[submodule "translation-viewer"]
	path = translation-viewer
	url = git@github.com:rosie-0525/translation-viewer.git
[submodule "sga4.5/sga4.5"]
	path = sga4.5/sga4.5
	url = git@github.com:NomiL/sga4.5.git
